@import './vendor/stylesheet';
@import './vendor/github-light';

.page-header {
  padding: 1rem 6rem;
}

.main-content {
  box-sizing: border-box;
  // background: linear-gradient(90deg, #58a8fb, #465683);
  background: linear-gradient(180deg, white, #58a8fb, white);
}

.footer {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem 6rem;
  max-width: 64rem;
}

body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Uncomment to simulate bootstrap environment
 */
// html {
//     box-sizing: border-box;
// }

// *, *::before, *::after {
//     box-sizing: inherit;
// }

.component {
  opacity: 0;
}

.grid-loaded {
  .component {
    opacity: 1;
  }
}

.wrapper {
  &::after {
    content: '';
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    pointer-events: none;
    border: 3px solid #fff;
    border-right-color: #323f5c;
    border-radius: 50%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-animation: rotateCircle 0.7s linear infinite forwards;
    animation: rotateCircle 0.7s linear infinite forwards;
  }
  &.grid-loaded::after {
    opacity: 0;
  }
}

@-webkit-keyframes rotateCircle {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
