*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid,
.grid__item,
.grid__link {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.grid__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid__link {
  position: relative;
  z-index: 1;
  display: block;
}

.grid__img {
  display: block;
  max-width: 100%;
}

.grid__title {
  font-size: 0.65em;
  font-weight: 600;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.grid__item:hover .grid__title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.layer {
  position: relative;
  display: block;
  &:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Shadow effect */

.isolayer--shadow {
  .grid__link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
    -webkit-transform: translateZ(-1px) scale(0.95);
    transform: translateZ(-1px) scale(0.95);
    -webkit-transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .grid__item:hover .grid__link::before {
    opacity: 0.2;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.8);
    -webkit-transform: translateZ(-1px) scale(1);
    transform: translateZ(-1px) scale(1);
  }
}

.isolayer {
  .grid__item {
    padding: 15px;
  }
  .grid__link {
    div.layer {
      opacity: 0.4;
    }
  }
}
